{% extends "./base.html" %}

{% block content %}
<div class="container">
    <h1>公司官方微信<small> 扫描二维码联系我们</small></h1>
    <div class="row">
        <div class="col-sm-3">
            <p class="h4"><img src="{{ STATIC_URL }}img/wechat-logo.png" style="width: 20px; height: 20px;"> 微信号：Galaxydragontravel</p>
        </div>
        <div class="col-sm-4">
            <p><img class="img-responsive" src="{{ STATIC_URL }}img/galaxydragontravel_wechat_qr_code.jpg"> </p>
        </div>
    </div>

    <h1>悉尼总部</h1>
    <address>
        suite 202A, 8 woodville st, Hurstville NSW 2220, Australia
    </address>
    <div class="row">
        <div class="col-sm-6">
            <table>
                <tr><th class="text-right">澳洲座机1：</th><td>+61 2 8065 9861</td></tr>
                <tr><th class="text-right">澳洲座机2：</th><td>+61 2 9188 5816</td></tr>
                <tr><th class="text-right">中国大陆客户直拨：</th><td>95040391689</td></tr>
                <tr><th class="text-right">预订邮箱：</th><td>booking@igalaxydragon.com</td></tr>
                <tr><th class="text-right">咨询邮箱：</th><td>info@igalaxydragon.com</td></tr>
            </table>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-8">
            <p><img class="img-responsive" src="{{ STATIC_URL }}img/company_address_in_google_map.png"></p>
        </div>
    </div>
</div>
{% endblock %}

{% block cameralibrary %}
{% endblock %}