{% extends "./base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-main">高尔夫休闲之旅</h1>
    <div class="row">
        <div class="col-sm-4">
            <h3>悉尼高尔夫休闲之旅</h3>
            <div class="thumbnail">
                <p class="equalheight-1"><img src="{{ STATIC_URL }}img/p_sydney.jpg" alt=""></p>
                <p class="equalheight-1-caption">悉尼顶级高尔夫球场（新南威尔士高尔夫俱乐部球场和St Michaels 高尔夫俱乐部球场），全程高端商务车和专业导游为您服务</p>
                <p><a class="btn btn-primary" href="./golf_sydney.html">查看详情</a></p>
            </div>
        </div>

        <div class="col-sm-4">
            <h3>墨尔本高尔夫休闲之旅</h3>
            <div class="thumbnail">
                <p class="equalheight-1"><img src="{{ STATIC_URL }}img/p_melbourne.jpg" alt=""></p>
                <p class="equalheight-1-caption">墨尔本顶级高尔夫球场（皇家墨尔本球场，金斯顿石南高尔夫球俱乐部球场，大都会高尔夫俱乐部球场），全程高端商务车和专业导游为您服务</p>
                <p><a class="btn btn-primary" href="./golf_melbourne.html">查看详情</a></p>
            </div>
        </div>
    </div>
    <p>以上行程仅供参考，如需私人定制高尔夫休闲之旅，请<a class="travel-attraction" href="./contact.html">联系我们</a>。</p>

    <hr>
    <h1 class="text-main">澳大利亚顶级高尔夫球场</h1>
    <h3>请提供以下文件来预订澳大利亚的顶级高尔夫球场</h3>
    <ul>
        <li>护照首页</li>
        <li>澳大利亚的高尔夫俱乐部的会员卡，或者</li>
    </ul>
    <table class="table table-striped centered-table">
        <caption>澳大利亚顶级高尔夫球场2016年最新排名</caption>
        <tr><th>名次</th><th>球场名称</th></tr>
        <tr><td>1</td><td>ROYAL MELBOURNE WEST</td></tr>
        <tr><td>2</td><td>KINGSTON HEATH</td></tr>
        <tr><td>3</td><td>CAPE WICKHAM</td></tr>
        <tr><td>4</td><td>NEW SOUTH WALES</td></tr>
        <tr><td>5</td><td>BARNBOUGLE DUNES</td></tr>
        <tr><td>6</td><td>ELLERSTON</td></tr>
        <tr><td>7</td><td>ROYAL MELBOURNE EAST</td></tr>
        <tr><td>8</td><td>VICTORIA GOLF CLUB</td></tr>
        <tr><td>9</td><td>LOST FARM</td></tr>
        <tr><td>10</td><td>NATIONAL OLD</td></tr>
        <tr><td>11</td><td>NATIONAL MOONAH</td></tr>
        <tr><td>12</td><td>THE AUSTRALIAN</td></tr>
        <tr><td>13</td><td>METROPOLITAN</td></tr>
        <tr><td>14</td><td>ROYAL ADELAIDE</td></tr>
        <tr><td>15</td><td>LAKE KARRINYUP</td></tr>
        <tr><td>16</td><td>THE LAKES</td></tr>
        <tr><td>17</td><td>JOONDALUP - QUARRY/DUNES</td></tr>
        <tr><td>18</td><td>THE DUNES</td></tr>
        <tr><td>19</td><td>NEWCASTLE</td></tr>
        <tr><td>20</td><td>ST ANDREWS BEACH</td></tr>
    </table>
    <p><small>数据来源：http://www.ausgolf.com.au/australias-top-100-courses-golf-digest</small></p>

    <div class="row">
        <div class="col-sm-4">
            <h3>Top 1</h3>
            <div class="thumbnail">
                <p class="equalheight-2"><img src="{{ STATIC_URL }}img/golfcourse_rmgcw.jpg" alt=""></p>
                <p class="equalheight-2-caption">皇家墨尔本高尔夫球场西场(Royal Melbourne Golf Club West)，澳洲排名第1，世界排名第9</p>
                <p><a class="btn btn-primary" href="#">查看详情</a></p>
            </div>
        </div>

        <div class="col-sm-4">
            <h3>Top 2</h3>
            <div class="thumbnail">
                <p class="equalheight-2"><img src="{{ STATIC_URL }}img/p_sydney.jpg" alt=""></p>
                <p class="equalheight-2-caption">澳洲金斯顿石南高尔夫球俱乐部(Kingston heath Golf Club)，澳洲排名第2，世界排名28位</p>
                <p><a class="btn btn-primary" href="#">查看详情</a></p>
            </div>
        </div>

        {% comment %}
        <div class="col-sm-4">
            <h3>Top 3</h3>
            <div class="thumbnail">
                <p class="equalheight-2"><img src="{{ STATIC_URL }}img/activity.jpg" alt=""></p>
                <p class="equalheight-2-caption">皇家墨尔本高尔夫球场西场</p>
                <p><a class="btn btn-primary" href="#">查看详情</a></p>
            </div>
        </div>
        {% endcomment %}
    </div>
</div>
{% endblock %}

{# this page does not need camera library #}
{% block cameralibrary %}
{% endblock %}


{% block jquerymatchheight %}
{{ block.super }}

<script>
$(function() {
    $('.equalheight-1').matchHeight({
        byRow: true,
        property: 'height',
        target: null,
        remove: false
    });
});

$(function() {
    $('.equalheight-1-caption').matchHeight({
        byRow: true,
        property: 'height',
        target: null,
        remove: false
    });
});

$(function() {
    $('.equalheight-2').matchHeight({
        byRow: true,
        property: 'height',
        target: null,
        remove: false
    });
});

$(function() {
    $('.equalheight-2-caption').matchHeight({
        byRow: true,
        property: 'height',
        target: null,
        remove: false
    });
});

</script>
{% endblock %}

