
<nav class="navbar navbar-default" id="nav">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./index.html"><img {#class="img-responsive"#} src="{{ STATIC_URL }}img/galaxyDragonLogo_100x75.png"><p>Galaxy Dragon Travel<br>澳洲龙行天下旅游公司</p></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
                <li{% if CURRENT_FILE == "index_t.html" %} class="active"{% endif %}><a href="./index.html">首页</a></li>
                <li{% if CURRENT_FILE == "personalized_t.html" %} class="active"{% endif %}><a href="personalized.html">私人定制</a></li>
                <li{% if CURRENT_FILE == "golf_t.html" %} class="active"{% endif %}><a href="golf.html">高尔夫</a></li>
                <li{% if CURRENT_FILE == "study_t.html" %} class="active"{% endif %}><a href="study.html">插班留学</a></li>
                <li{% if CURRENT_FILE == "contact_t.html" %} class="active"{% endif %}><a href="./contact.html">联系我们</a></li>
            </ul>
        </div>
    </div>
</nav>
