{% extends "./base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- itinerary -->
        <div class="col-xs-12 col-sm-8">
            <h1><span class="travel-bracket">私人定制</span>澳大利亚悉尼黄金海岸6晚</h1>
            <p><small>此行程仅供参考使用，我们将根据客户的实际需求制定最终的行程方案.</small></p>

            <!-- here we use jquery camera wrap library -->
            <div class="camera_wrap">
                <!-- first picture -->
                <div data-src="{{ STATIC_URL }}img/sydney-harbour-bridge-opera-house.jpg">
                    <div class="camera_caption">澳大利亚悉尼歌剧院和海港大桥</div>
                </div>

                <!-- second picture -->
                <div data-src="{{ STATIC_URL }}img/canberra-parliament-house.jpg">
                    <div class="camera_caption">澳大利亚首都堪培拉国会大厦</div>
                </div>

                <!-- third picture -->
                <div data-src="{{ STATIC_URL }}img/Melbourne-12-Apostles.jpg">
                    <div class="camera_caption">澳大利亚墨尔本十二门徒</div>
                </div>
            </div>

            <hr style="clear: both;">
            <h1>行程安排</h1>

            <h3>第1天 中国飞往悉尼</h3>
            <p>搭乘晚班航机飞往悉尼</p>

            <h3>第2天 抵达悉尼后市区观光</h3>
            <p>早上抵达悉尼后，前往南半球最大的<span class="travel-bracket">悉尼鱼市场</span>。餐后，前往市区观光，欣赏造型独特的<span class="travel-bracket">悉尼歌剧院</span>。远眺坐落在悉尼港上的<span class="travel-bracket">悉尼海港大桥</span>；继而前往<span class="travel-bracket">麦考瑞夫人景观椅</span>，此为麦觉理总督夫人每日散步欣赏风景的驻足点。沿着风光明媚的Macquaries RD.和皇家植物园蜿蜒而行，造访庄严肃穆的<span class="travel-bracket">圣玛丽大教堂</span>。傍晚时分，可以乘<span class="travel-bracket">悉尼港库克船长游船</span>畅游全球最美丽的悉尼海港，可于游船上从不同角度欣赏悉尼歌剧院的美丽、远眺悉尼大桥、悉尼塔，畅游最美丽的海港城市, 于船上享用三道式套餐。游毕后返回酒店休息。</p>

            <h3>第3天 悉尼蓝山一日游</h3>
            <p>早餐后，乘车前往澳大利亚著名的风景区<span class="travel-bracket">蓝山国家公园</span>。因为空气中弥漫着一种由桉树脂挥发的蓝光，固命名为蓝山。首先前往<span class="travel-bracket">Echo Point</span>，此处是拍摄<span class="travel-bracket">三姐妹峰</span>的最佳点。搭乘<span class="travel-bracket">蓝山缆车(美景世界）</span>近距离欣赏蓝山景色。晚餐后，返回酒店休息。</p>

            <h3>第4天 悉尼史蒂芬港一日游</h3>
            <p>早餐后，驱车前往史蒂芬港乘坐<span class="travel-bracket">观鲸船</span>观赏鲸鱼和海豚，并在游船上享用自助午餐。夏季时还可以着泳衣坐在船尾拥抱大海。继而前往安娜湾乘坐四驱车进入长达27公里的大自然沙漠玩<span class="travel-bracket">史蒂芬港滑沙</span>。</p>

            <h3>第5天 黄金海岸主题公园海洋世界</h3>
            <p>早机飞抵黄金海岸，参观<span class="travel-bracket">海洋世界</span>，继而乘坐<span class="travel-bracket">水陆两栖车</span>，从陆地驶到海上进入黄金海岸的豪华别墅区，水上教堂，船屋等，晚上观看南半球独特萤火虫<span class="travel-bracket">萤火虫洞</span>。之后返回酒店休息。</p>

            <h3>第6天 黄金海岸天堂农庄</h3>
            <p>早餐于酒店享用后，前往著名的<span class="travel-bracket">天堂农场</span>，可亲手抱树熊影相，参观制作流浪者茶、原始烤面包、马术、回力标、牧羊犬赶羊、挤牛奶及剪羊毛等表演。</p>

            <h3>第7天 黄金海岸主题公园电影世界</h3>
            <p>酒店享用早餐后，前往<span class="travel-bracket">华纳兄弟电影世界</span>体验新奇有趣历险，观赏四维立体电影，飞车特技表演，激流探险，卡通明星大游行等项目。傍晚搭机飞往墨尔本。傍晚前往<span class="travel-bracket">冲浪者天堂</span>沙滩游玩。</p>

            <h3>第8天 布里斯班市区观光</h3>
            <p>酒店享用早餐后，前往布里斯班市区观光，傍晚送往布里斯班机场，结束八天的愉快旅程。</p>

            <hr>
            <h1>产品费用：</h1>
            <ul>
                <li>一个家庭费用（两大一小）：AUD$3660起</li>
                <li>两个家庭费用（四大两小）：AUD$4780起</li>
            </ul>

            <h3>费用包含:</h3>
            <ul>
                <li>全程4星级酒店一间标准双人间住宿</li>
                <li>地面交通：8座商务车</li>
                <li>全程1名中文导游兼司机</li>
                <li>全程西式早餐</li>
            </ul>

            <h3>费用不含:</h3>
            <ul>
                <li>全程自费景点门票费用</li>
                <li>基本用车时间8-10hrs，超时费用为AUD$60/hr</li>
                <li>导游小费每人每天AUD$5</li>
                <li>国际机票和澳洲境内机票费用</li>
                <li>客人任何私人花费</li>
                <li>旅游保险</li>
            </ul>

            <h3>注意事项:</h3>
            <ul>
                <li>本公司保留修改行程，取消或替换旅游项目，缩短或者延长旅程的权利</li>
                <li>若遇任何机械故障，天气因素等不可抗力影响下早成的任何伤亡或意外事件，本公司改不负责，不予赔偿，特此建议客人购买旅游保险。</li>
            </ul>

            <p>更多详情请 <a class="btn btn-primary" href="./contact.html">联系我们</a>。
        </div>

        <!-- aside not visible on mobile device -->
        <div class="col-sm-4 hidden-xs">
            <h1>其他私人定制</h1>
            <ul>
                <li><a href="#"><span class="travel-bracket">私人定制</span>悉尼墨尔本6晚</a></li>
                <li><a href="#"><span class="travel-bracket">私人定制</span>悉尼墨尔本6晚</a></li>
                <li><a href="#"><span class="travel-bracket">私人定制</span>悉尼墨尔本6晚</a></li>
                <li><a href="#"><span class="travel-bracket">私人定制</span>悉尼墨尔本6晚</a></li>
                <li><a href="#"><span class="travel-bracket">私人定制</span>悉尼墨尔本6晚</a></li>
                <li><a href="#"><span class="travel-bracket">私人定制</span>悉尼墨尔本6晚</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}