{% extends "./base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- all personalized itinerary -->
        <div class="col-xs-12 col-sm-8">
            <!-- itinerary -->
            <div class="row">
                <div class="col-xs-3">
                    <img class="img-thumbnail" src="{{ STATIC_URL }}img/flag_australia.gif">
                </div>
                <div class="col-xs-9">
                    <p><span class="travel-bracket">私人定制</span>悉尼墨尔本6晚</p>
                    <p><del>4280澳元起</del> <span class="text-main">3820澳元起</span></p>
                    <p><a class="btn btn-primary" href="#">查看详情</a></p>
                </div>
            </div>

            <hr>
            <!-- itinerary -->
            <div class="row">
                <div class="col-xs-3">
                    <img class="img-thumbnail" src="{{ STATIC_URL }}img/flag_australia.gif">
                </div>
                <div class="col-xs-9">
                    <p><span class="travel-bracket">私人定制</span>悉尼墨尔本6晚</p>
                    <p><del>4280澳元起</del> <span class="text-main">3820澳元起</span></p>
                    <p><a class="btn btn-primary" href="#">查看详情</a></p>
                </div>
            </div>


            <hr>
            <!-- itinerary -->
            <div class="row">
                <div class="col-xs-3">
                    <img class="img-thumbnail" src="{{ STATIC_URL }}img/flag_australia.gif">
                </div>
                <div class="col-xs-9">
                    <p><span class="travel-bracket">私人定制</span>悉尼墨尔本6晚</p>
                    <p><del>4280澳元起</del> <span class="text-main">3820澳元起</span></p>
                    <p><a class="btn btn-primary" href="#">查看详情</a></p>
                </div>
            </div>

            <hr>
            <!-- itinerary -->
            <div class="row">
                <div class="col-xs-3">
                    <img class="img-thumbnail" src="{{ STATIC_URL }}img/flag_australia.gif">
                </div>
                <div class="col-xs-9">
                    <p><span class="travel-bracket">私人定制</span>悉尼墨尔本6晚</p>
                    <p><del>4280澳元起</del> <span class="text-main">3820澳元起</span></p>
                    <p><a class="btn btn-primary" href="#">查看详情</a></p>
                </div>
            </div>

            <hr>
            <!-- itinerary -->
            <div class="row">
                <div class="col-xs-3">
                    <img class="img-thumbnail" src="{{ STATIC_URL }}img/flag_australia.gif">
                </div>
                <div class="col-xs-9">
                    <p><span class="travel-bracket">私人定制</span>悉尼墨尔本6晚</p>
                    <p><del>4280澳元起</del> <span class="text-main">3820澳元起</span></p>
                    <p><a class="btn btn-primary" href="#">查看详情</a></p>
                </div>
            </div>

            <hr>
            <!-- itinerary -->
            <div class="row">
                <div class="col-xs-3">
                    <img class="img-thumbnail" src="{{ STATIC_URL }}img/flag_australia.gif">
                </div>
                <div class="col-xs-9">
                    <p><span class="travel-bracket">私人定制</span>悉尼墨尔本6晚</p>
                    <p><del>4280澳元起</del> <span class="text-main">3820澳元起</span></p>
                    <p><a class="btn btn-primary" href="#">查看详情</a></p>
                </div>
            </div>
        </div>

        <!-- aside not visible on mobile device -->
        <div class="col-sm-4 hidden-xs">
            <h1>其他私人定制</h1>
            <ul>
                <li><a href="#"><span class="travel-bracket">私人定制</span>悉尼墨尔本6晚</a></li>
                <li><a href="#"><span class="travel-bracket">私人定制</span>悉尼墨尔本6晚</a></li>
                <li><a href="#"><span class="travel-bracket">私人定制</span>悉尼墨尔本6晚</a></li>
                <li><a href="#"><span class="travel-bracket">私人定制</span>悉尼墨尔本6晚</a></li>
                <li><a href="#"><span class="travel-bracket">私人定制</span>悉尼墨尔本6晚</a></li>
                <li><a href="#"><span class="travel-bracket">私人定制</span>悉尼墨尔本6晚</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}