/* main color for whole website */
.text-main {
  color: rgb(255, 0, 0);
}

/* set navbar background color red and all of text are white */

#nav {
  /*background-color: rgb(242, 92, 39);*/
  background-color: rgb(255, 0, 0);
  color: white;
  /*font-size: 16px;*/
}

#nav a, #nav li {
  color: white;
}

/*
 * logo size: 100x75
 */
.navbar-brand {
  padding-top: 18px;
  height: 75px;
}

.navbar-brand img,
.navbar-brand p {
  display: inline-block;
}

.navbar-brand img {
  margin-top: -18px;
}

.navbar-nav {
  margin-top: 16px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  /*color: #555;*/
  /*background-color: #e7e7e7;*/
  background-color: black;
}

/*
.product-thumbnail {
  border: solid 1px #eee;
}
.product-thumbnail a {
  margin-bottom: 5px;
}
*/

/* In travel industry, attraction name is put inside 【 】*/
.travel-bracket::before {
  content: "【";
}

.travel-bracket::after {
  content: "】";
}

.travel-bracket, .travel-attraction {
  color: #f25c27;
}

.travel-bracket::before,
.travel-bracket::after {
  color: black;
}

/* make img display block */
.thumbnail p > img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

div[class*="equalheight"] {
  margin-bottom: 10px;
}
