{% extends "../base_itinerary.html" %}

{% block itinerary_title %}
<span class="travel-bracket">高尔夫</span>澳大利亚墨尔本高尔夫休闲之旅
{% endblock %}

{% block itinerary_photo %}
<!-- here we use jquery camera wrap library -->
<div class="camera_wrap">
    <!-- first picture -->
    <div data-src="{{ STATIC_URL }}img/golf/golf_Metropolitan_18GreenRedTree_800x532.jpg">
        <div class="camera_caption">大都会球场</div>
    </div>

    <!-- second picture -->
    <div data-src="{{ STATIC_URL }}img/golf/golf_Kingston_Heath_Hole_6_800x530.jpg">
        <div class="camera_caption">金斯顿石南球场</div>
    </div>

    <!-- third picture -->
    <div data-src="{{ STATIC_URL }}img/golf/golf_royal_melbourne_west_800x375.jpg">
        <div class="camera_caption">皇家墨尔本球场</div>
    </div>
</div>
{% endblock %}

{% block itinerary %}
<h3>第1天 中国&#9992;澳大利亚墨尔本</h3>
<p>中国机场集合，搭乘直航飞机前往澳大利亚墨尔本。</p>


<h3>第2天 自由活动和修养精神</h3>
{% comment %}
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <p><img class="img-responsive" src="{{ STATIC_URL }}img/golf/golf_melbourne_day2.jpg"></p>
    </div>
</div>
{% endcomment %}
<p>墨尔本全程导游接机后，乘坐高档商务车前往五星级酒店（Crown tower或同等级）。导游协助办理酒店入住手续后，客人自由活动，充分修养精神为打球做好准备。</p>
{% comment %}
<p>早上抵达墨尔本后，参观澳洲第一个<span class="travel-bracket">国会大厦</span>，<span class="travel-bracket">圣帕特里克大教堂</span>，<span class="travel-bracket">库克船长故居</span>等。继而乘坐特别游船游览亚拉河两岸风光，然后登上南半球最高<span class="travel-bracket">尤利卡观景台</span>达88层，可360度欣赏全墨尔本景色。之后前往<span class="travel-bracket">水族馆</span>，<span class="travel-bracket">唐人街</span>参观及自由活动。游览全澳洲最大的<span class="travel-bracket">皇冠赌场</span>。
{% endcomment %}

<h3>第3天 大都会高尔夫俱乐部球场</h3>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <p><img class="img-responsive" src="{{ STATIC_URL }}img/golf/golf_Metropolitan_18GreenRedTree_800x532.jpg"></p>
    </div>
</div>
<p>早餐后，前往澳大利亚排名第十的大都会高尔夫俱乐部球场（The Metropolitan Golf Club）。大都会高尔夫球场是澳大利亚一个著名的沙带球场，该球场被认为是澳大利亚其中一个拥有锦标赛级别设计的球场。大都会拥有如绿毯般柔滑舒适的球道，巨大而快速的剪股颖果岭大多有沙池的守护，这是沙带球场标志性的挑战之一。整个球场共有96个沙坑，几乎每一洞都有茂盛古老的乔木。挥杆的过程中，栖息其中的各种鸟类提供悦耳的鸟鸣，这是大都会球场独一无二之处。此外，这座拥有悠久历史的球场成立至今仍保留原有的模样，部分曾在1959年由美国著名建筑师迪克·威尔森(Dick Wilson)重新设计。七届澳大利亚公开赛、五届在澳大利亚的美巡赛以及其它职业赛事都曾选址于此，著名的澳大利亚球手亚当·斯科特(Adam Scott)表示无法从皇家墨尔本、金斯顿石南以及大都会中选一家最喜欢的。</p>

<h3>第4天 金斯顿石南高尔夫球俱乐部</h3>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <p><img class="img-responsive" src="{{ STATIC_URL }}img/golf/golf_Kingston_Heath_Hole_6_800x530.jpg"></p>
    </div>
</div>
<p>早餐后，前往澳大利亚排名第二，世界排名第二十八的金斯顿石南高尔夫球俱乐部（Kingston heath Golf Club）球场。比起皇家墨尔本球场的精细雕琢，金斯顿石南球场的原始风情可谓更胜一筹。金斯顿石南球场坐落在墨尔本著名的沙带上，距离澳洲墨尔本20公里，最初由丹-索塔尔设计在1905年设计，1925年建成。后来，著名的高尔夫球场的设计师麦肯兹对于球场沙坑的部分进行改造，创造出最自然的沙坑景观，并在原型设计的基础上对最初的球场布局进行调整，其中包括将15号洞一个短四杆洞改为中距离的三杆洞。球场的第6洞(长距离四杆洞)是澳洲众多球场种评价最好的四杆洞。而球场后五洞则是全澳州锦标赛球场中最具挑战性的布局。全场3个三杆洞是金斯顿石南的特色洞，很好地表达出球场的个性——经典自然的沙坑。其中，第15洞是最具挑战的一个。上坡的球洞由一连串的沙坑守护着，即使安全到达果岭，在这里迎来三推的球友比一推的多得多。挑战金斯顿石南球场，除了要求选手的距离，还需要进攻果岭的精准。</p>

<h3>第5天 皇家墨尔本高尔夫俱乐部球场</h3>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <p><img class="img-responsive" src="{{ STATIC_URL }}img/golf/golf_royal_melbourne_west_800x375.jpg"></p>
    </div>
</div>
<p>早餐后，前往澳洲排名第1，世界排名第9的皇家墨尔本高尔夫俱乐部球场（Royal Melbourne Golf Club）。皇家墨尔本高尔夫俱乐部是澳大利亚排名第一的顶级球场。俱乐部成立于1891年，是澳大利亚历史最悠久的高尔夫球俱乐部，长期以来一直兴盛不衰并保留了最初的名称。1901年，球场搬到郊区桑德林姆跑马场旁边一片崎岖的石南荒野之中，标志着沙带高尔夫的诞生。20世纪20年代，俱乐部东迁至现址——黑岩，并聘请艾利斯特-麦肯齐主持设计。麦肯齐将球场设在铁树灌木丛和含羞草之间，营造出极富战略性的布局，其特意挖成的扇形沙坑与精心修剪且高低起伏的球洞区交错编织在一起，形成了前所未有的一大特色。球场拥有几个标志性的特点：球道两旁的浓密的茶树随时等待着糟糕的小白球，又大又深的沙坑总是守卫着起伏快速的果岭，同时也出现在开球落点的球道位置。4杆洞通常不会超过300米，这与麦肯齐的另一杰作柏树点(Cypress Point)是相似的；经典的3杆洞都有着令人懊恼难推的果岭，而常打者两杆便能接近果岭的5杆洞关键在于挑战你短杆的技术。</p>

<h3>第6天：悉尼&#9992;飞回中国</h3>
<p>早餐过后，自由活动。下午酒店集合，送机场。乘飞机返回中国，结束愉快的高尔夫之旅。</p>
{% endblock %}

{% block fee_table %}
<table class="table centered-table">
    <tr class="warning"><td>1人/房</th><td>2人/房</th></tr>
    <tr><td>AUD$5398</td><td>AUD$4198</td></tr>
</table>
{% endblock %}

{% block fee_including %}
<ul>
    <li>澳大利亚墨尔本4晚国际标准五星级酒店（CROWN TOWER或同等级）住宿，包含早餐。</li>
    <li>三场顶级高尔夫球场果岭费，球场包括皇家墨尔本球场（Royal Melbourne Golf Club West），金斯顿石南高尔夫球俱乐（Kingston heath Golf Club），大都会高尔夫俱乐部（The Metropolitan Golf Club）。</li>
    <li>全程高端奔驰商务用车。</li>
    <li>全程普通话导游。</li>
</ul>
{% endblock %}

{% block fee_excluding %}
<ul>
    <li>国际往返机票及机场税。</li>
    <li>导游和司机小费，10澳元/人/天。</li>
    <li>全程午餐和晚餐（可根据客户喜好推荐预定）。</li>
    <li>旅游保险（强烈建议购买）。</li>
    <li>各类自费项目。</li>
</ul>
{% endblock %}

{% block aside_list %}
<h1>其他高尔夫休闲之旅</h1>
<ul>
    <li><a href="./golf_sydney.html"><span class="travel-bracket">高尔夫</span>澳大利亚悉尼高尔夫休闲之旅</a></li>
</ul>
{% endblock %}