{% extends "../../base.html" %}

{% block content %}
<div class="container">
    <h1>蓝山</h1>
    <h3>Hotel: <a href="http://www.echoeshotel.com.au">Echoes Boutique Hotel and Resturant</a></h3>
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail">
                <p>1500x500</p>
                <p><img class="img-responsive" src="{{ STATIC_URL }}img/SYD/hotel_echoes_frontage_1500x500.jpg"></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="thumbnail">
                <p>1500x500</p>
                <p><img class="img-responsive" src="{{ STATIC_URL }}img/SYD/hotel_echoes_deluxe_view_1500x500.jpg"></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="thumbnail">
                <p>1500x500</p>
                <p><img class="img-responsive" src="{{ STATIC_URL }}img/SYD/hotel_echoes_terrace_dining_1500x500.jpg"></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="thumbnail">
                <p>400x132</p>
                <p><img class="img-responsive" src="{{ STATIC_URL }}img/SYD/hotel_echoes_accommodation2_400x132.jpg"></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="thumbnail">
                <p>320x175</p>
                <p><img class="img-responsive" src="{{ STATIC_URL }}img/SYD/hotel_echoes_accommodation_320x175.jpg"></p>
            </div>
        </div>
    </div>


    <h3>Hotel: <a href="http://www.parklands.com.au/">Parklands Country Gardens & Lodges</a></h3>
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail">
                <p>1500x500</p>
                <p><img class="img-responsive" src="{{ STATIC_URL }}img/SYD/hotel_parklands_mainhouse_1500x500.jpg"></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="thumbnail">
                <p>1500x450</p>
                <p><img class="img-responsive" src="{{ STATIC_URL }}img/SYD/hotel_parklands_entry_gate_1500x450.jpg"></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="thumbnail">
                <p>1500x450</p>
                <p><img class="img-responsive" src="{{ STATIC_URL }}img/SYD/hotel_parklands_loft_room2_1500x450.jpg"></p>
            </div>
        </div>

        <div class="clearfix hidden-xs"></div>

        <div class="col-sm-4">
            <div class="thumbnail">
                <p>500x400</p>
                <p><img class="img-responsive" src="{{ STATIC_URL }}img/SYD/hotel_parklands_home_500x400.jpg"></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="thumbnail">
                <p>762x193</p>
                <p><img class="img-responsive" src="{{ STATIC_URL }}img/SYD/hotel_parklands_accommodation_762x193.jpg"></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
