{% extends "../../base.html" %}

{% block content %}
<div class="container">
    <h1>蓝山</h1>
    <h3>Hotel: <a href="http://www.echoeshotel.com.au">Echoes Boutique Hotel and Resturant</a></h3>
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail">
                <p><img class="img-responsive" src="{{ STATIC_URL }}img/SYD/hotel_echoes_frontage_1500x500.jpg"></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="thumbnail">
                <p><img class="img-responsive" src="{{ STATIC_URL }}img/SYD/hotel_echoes_deluxe_view_1500x500.jpg"></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="thumbnail">
                <p><img class="img-responsive" src="{{ STATIC_URL }}img/SYD/hotel_echoes_terrace_dining_1500x500.jpg"></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="thumbnail">
                <p><img class="img-responsive" src="{{ STATIC_URL }}img/SYD/hotel_echoes_accommodation2_400x132.jpg"></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="thumbnail">
                <p><img class="img-responsive" src="{{ STATIC_URL }}img/SYD/hotel_echoes_accommodation_320x175.jpg"></p>
            </div>
        </div>
    </div>


</div>
{% endblock %}
